<% include partials/header %>

<h1><%=blogPost.title%></h1>

<img src="<%= blogPost.image %>"/>

<p><%= blogPost.description %></p>
<span><%= blogPost.created.toDateString() %></span>

<a href="/index/<%= blogPost._id %>/edit"><button class="btn btn-link">Edit</button></a>

<form action="/index/<%= blogPost._id %>?_method=DELETE" method="POST">
  <button class="btn btn-danger">Delete</button>
</form>

<% include partials/footer %>
